// v_10 Cent Comics

@font-face {
  font-family: "Cent Comics";
  src: url("https://db.onlinewebfonts.com/t/f4ac7d18b0806bfa2a196b5c4ee9174f.eot");
  src: url("https://db.onlinewebfonts.com/t/f4ac7d18b0806bfa2a196b5c4ee9174f.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/f4ac7d18b0806bfa2a196b5c4ee9174f.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/f4ac7d18b0806bfa2a196b5c4ee9174f.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/f4ac7d18b0806bfa2a196b5c4ee9174f.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/f4ac7d18b0806bfa2a196b5c4ee9174f.svg#F10 Cent Comics W00 Regular")format("svg");
}