footer {
  background: $_black;
  color: $white;
  padding: 3rem 0;

  h3 {
    font-size: 2.4rem;
    margin-right: auto;

    a {
      gap: .5rem;
    }

    span {
      &:first-child {
        color: $_red;
      }
    }
  }

  .footer_title_info {
    font-size: 1.4rem;

    strong {
      margin-left: .5rem;
      font-weight: 500;
      font-size: 1.6rem;
      color: rgb(255, 103, 64);
    }
  }
}