.dark_mode {
  background: $_black;
  color: $white;

  .latest_list_container li {
    border-bottom-color: $white;
  }

  footer.footer {
    border-top: 1px solid $_red
  }

  button.scrollToTop_btn {
    border-color: $_black;
    background: $white;

    svg path {
      fill: $_black;
    }
  }
}