@import "tailwind";
@import "../fonts/cent_comics";
@import "../fonts/roboto";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
}

html {
  font-size: 10px;
}

body {
  background: $white;
  color: $_black;
}

a, button, input {
  outline: none;
}

a, button {
  cursor: pointer;
  text-decoration: none;
}

main {
  padding: 3rem 0;
}

.c_container {
  width: 85%;
  margin: 0 auto;
}

.dark_mode {
  background: $_black;
  color: $white;
}

.module_section {
  margin-bottom: 5rem;

  h2 {
    font-size: 2.4rem;
    font-weight: 500;
    margin-bottom: 2rem;
  }
}
